scraper-workflow/influencer-discovery.n8n.json
{
  "name": "Enfinity — Influencer Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "influencer-discovery",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "enfinity-influencer-discovery"
    },
    {
      "parameters": {
        "jsCode": "// Read the search query from the dashboard and build the Apify request.\nconst b = ($input.first().json.body) || $input.first().json || {};\nconst platform = b.platform || 'All';\nconst term = (b.keyword && String(b.keyword).trim()) ? String(b.keyword).trim() : (b.interest || '');\nconst limit = Number(b.limit) || 25;\n\nlet actorId, input;\nswitch (platform) {\n  case 'TikTok':\n    actorId = 'clockworks~tiktok-scraper';\n    input = { hashtags: [term], resultsPerPage: limit, shouldDownloadVideos: false };\n    break;\n  case 'YouTube':\n    actorId = 'streamers~youtube-scraper';\n    input = { searchKeywords: term, maxResults: limit };\n    break;\n  case 'Instagram':\n  default: // 'All' and 'Amazon' fall back to Instagram\n    actorId = 'apify~instagram-scraper';\n    input = { search: term, searchType: 'hashtag', resultsType: 'details', resultsLimit: limit };\n}\nreturn [{ json: { actorId, input, platform } }];"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Build Apify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/{{ $json.actorId }}/run-sync-get-dataset-items?token=YOUR_APIFY_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.input) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Apify Run (sync)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Apify Request", "type": "main", "index": 0 }]] },
    "Build Apify Request": { "main": [[{ "node": "Apify Run (sync)", "type": "main", "index": 0 }]] },
    "Apify Run (sync)": { "main": [[{ "node": "Respond to Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
