scraper-workflow/youtube-search.make.blueprint.json
{
  "name": "Enfinity — YouTube Search Scraper (Make)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": { "hook": null, "maxResults": 1 },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "Enfinity Scraper Webhook" } } },
        "expect": [
          { "name": "keyword", "type": "text" },
          { "name": "platform", "type": "text" },
          { "name": "limit", "type": "number" }
        ]
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeFlate": true },
      "mapper": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "method": "get",
        "headers": [],
        "qs": [
          { "name": "part", "value": "snippet" },
          { "name": "type", "value": "video" },
          { "name": "q", "value": "{{1.keyword}}" },
          { "name": "maxResults", "value": "{{ifempty(1.limit; 25)}}" },
          { "name": "key", "value": "YOUR_YOUTUBE_API_KEY" }
        ],
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": { "array": "{{2.body.items}}" },
      "metadata": { "designer": { "x": 600, "y": 0 }, "restore": {} }
    },
    {
      "id": 4,
      "module": "builtin:BasicAggregator",
      "version": 1,
      "parameters": { "feeder": 3 },
      "mapper": {
        "channelName": "{{3.snippet.channelTitle}}",
        "channelId": "{{3.snippet.channelId}}",
        "url": "https://www.youtube.com/channel/{{3.snippet.channelId}}",
        "platform": "YouTube",
        "niche": "{{1.keyword}}",
        "thumbnail": "{{3.snippet.thumbnails.high.url}}"
      },
      "metadata": { "designer": { "x": 900, "y": 0 }, "restore": { "extra": { "feeder": { "label": "Iterator [3]" } } } }
    },
    {
      "id": 5,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": "200",
        "body": "{{4.array}}",
        "headers": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Access-Control-Allow-Origin", "value": "*" },
          { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
        ]
      },
      "metadata": { "designer": { "x": 1200, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": { "roundtrips": 1, "maxErrors": 3, "autoCommit": true, "autoCommitTriggerLast": true, "sequential": false, "confidential": false, "dataloss": false, "dlq": false },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com"
  }
}
