make-workflows/2-enfinity-slack-replies.make.blueprint.json
{
  "name": "Enfinity — Slack notify on Close email replies",
  "flow": [
    {
      "id": 1,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeFlate": true },
      "mapper": {
        "url": "https://api.close.com/api/v1/activity/email/",
        "method": "get",
        "headers": [
          { "name": "Authorization", "value": "Basic YOUR_CLOSE_API_KEY_BASE64" },
          { "name": "Accept", "value": "application/json" }
        ],
        "qs": [
          { "name": "direction", "value": "incoming" },
          { "name": "_limit", "value": "25" },
          { "name": "date_created__gt", "value": "{{formatDate(addMinutes(now; -15); \"YYYY-MM-DDTHH:mm:ssZ\")}}" }
        ],
        "serializeUrl": false, "shareCookies": false, "parseResponse": true,
        "followRedirect": true, "useQuerystring": false, "gzip": true,
        "useMtls": false, "followAllRedirects": false, "rejectUnauthorized": true,
        "bodyType": "", "timeout": "", "ca": "", "authUser": "", "authPass": ""
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "comment": "Trigger on a schedule (e.g. every 15 min). Pulls inbound Close email replies since the last poll."
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": { "array": "{{1.data.data}}" },
      "metadata": { "designer": { "x": 300, "y": 0 }, "comment": "Iterate each reply." }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeFlate": true },
      "mapper": {
        "url": "https://api.close.com/api/v1/lead/{{2.lead_id}}/",
        "method": "get",
        "headers": [
          { "name": "Authorization", "value": "Basic YOUR_CLOSE_API_KEY_BASE64" },
          { "name": "Accept", "value": "application/json" }
        ],
        "qs": [{ "name": "_fields", "value": "id,display_name,description,status_label" }],
        "serializeUrl": false, "shareCookies": false, "parseResponse": true,
        "followRedirect": true, "useQuerystring": false, "gzip": true,
        "useMtls": false, "followAllRedirects": false, "rejectUnauthorized": true,
        "bodyType": "", "timeout": "", "ca": "", "authUser": "", "authPass": ""
      },
      "metadata": { "designer": { "x": 600, "y": 0 }, "comment": "Fetch the lead to read the assigned rep (in the dashboard JSON in description)." }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeFlate": true },
      "mapper": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/INCOMING/WEBHOOK",
        "method": "post",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "qs": [],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"text\": \":email: *New reply* on *{{3.data.display_name}}*\\nRep: {{get(parseJSON(3.data.description); \"assignedTo\")}}\\nFrom: {{2.sender}}\\nSubject: {{2.subject}}\\n> {{substring(2.body_text; 0; 280)}}\\nStatus: {{3.data.status_label}}\"\n}",
        "serializeUrl": false, "shareCookies": false, "parseResponse": true,
        "followRedirect": true, "useQuerystring": false, "gzip": true,
        "useMtls": false, "followAllRedirects": false, "rejectUnauthorized": true,
        "timeout": "", "ca": "", "authUser": "", "authPass": ""
      },
      "metadata": { "designer": { "x": 900, "y": 0 }, "comment": "Post to Slack. Swap the incoming-webhook URL for a per-rep channel/DM to route by rep." }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": { "roundtrips": 1, "maxErrors": 3, "autoCommit": true, "autoCommitTriggerLast": true, "sequential": false, "confidential": false, "dataloss": false, "dlq": false },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com"
  }
}
